<!--THIS IS THE HEADER AND NAVIGATION OF THE PAGE-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INGENIC</title>
</head>


<body>
<!-- LOGO -->
<nav class="navbar">
    <a class="navbar-brand" href="/">
        <img src="/images/logo.png" width="300" height="100" alt="">
    </a>
    <p>Irish Network for Gender Equality at National 3rd level Institutions for Computing</p>
</nav>
<!--END LOGO-->
<!--LINES-->
<div class="rectangle"></div>
<div class="rectangle2"></div>
<br>
<header>
    <a href="#main-menu"
       id="main-menu-toggle"
       class="menu-toggle"
       aria-label="Open main menu">
        <span class="sr-only">Open main menu</span>
        <span class="fa fa-bars" aria-hidden="true"></span>
    </a>
    <nav id="main-menu" class="main-menu" aria-label="Main menu">
        <a href="#main-menu-toggle"
           id="main-menu-close"
           class="menu-close"
           aria-label="Close main menu">
            <span class="sr-only">Close main menu</span>
            <span class="fa fa-close" aria-hidden="true"></span>
        </a>

        <div class="menu">
            <nav class="navbar">
                <a href="/"> <button class="buttonHover" type="button">Home</button></a>
                <a href="/about"><button class="buttonHover" type="button">About</button> </a>
                <a href="/universities"><button class="buttonHover" type="button">Universities Involved</button> </a>
                <a href="/news"><button class="buttonHover" type="button">News</button></a>
                <a href="/resources"><button class="buttonHover" type="button">Resources</button></a>
                <a href="/contact"> <button class="buttonHover" type="button">Contact</button></a>
            </nav>
        </div>
    </nav>
    <a href="#main-menu-toggle"
       class="backdrop"
       tabindex="-1"
       aria-hidden="true" hidden></a>
</header>

</body>
</html>
