@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

/*IMAGES ON THE NEWS PAGE*/
/*Scales the images within a set image size in the cards*/
.card-img-top {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

/*BUTTONS IN NAVIGATION*/

#customLink {
    background-color: white;
    color: black;
    border: 3px solid #411B46;
    -webkit-appearance: none;
}
#customLink:hover {
    background-color: #411B46;
    color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

/*LINES*/
.rectangle {
    height: 15px;
    width: 100%;
    background-color: #5e2664;
}
.rectangle2 {
    height: 15px;
    width: 100%;
    background-color: #411B46;
}

.rectangle3 {
    height: 85px;
    width: 100%;
    background-color: #ffffff;
}

.btn {
    color: #411B46;

}

.menu {
    width: 50%;
    text-align: center;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.res-list {
    list-style-type: none;
}

/* SOCIAL MEDIA BUTTONS*/

a, a:hover {
    text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li {
    margin: 0;
    padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
    width: 30px;
    height: 30px;
    color:  #411B46;
    background-color: #FFF;
    border: 1px solid  #411B46;
    padding-top: 6px;
    border-radius: 22px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    /*-o-border-radius: 22px;*/
}

.socialbtns .fa:hover {
    list-style: none;
    color: #FFF;
    background-color: #411B46;
    border: 1px solid  #411B46;
}
/*END SOCIAL MEDIA BUTTONS*/

/* Screen reader only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/* Button styling */
.menu-toggle {
    display: inline-block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #333;
}

.menu-toggle:hover,
.menu-toggle:focus {
    color: #411B46;
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/
.main-menu {
    position: absolute;
    display: none;
    left: -200px;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    transition: left 0.3s ease,
    box-shadow 0.3s ease;
    z-index: 999;
}

.main-menu ul {
    list-style: none;
    margin: 0;
    padding: 2.5em 0 0;
    /* Hide shadow w/ -8px while 'closed' */
    /*-webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);*/
    /*-moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);*/
    /*box-shadow: -8px 0 8px rgba(0,0,0,.5);*/
    /*min-height: 100%;*/
    width: 200px;
    /*background: #1a1a1a;*/
}

.main-menu a {
    display: block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #383838;
}

.main-menu li:first-child a {
    /*border-top: 1px solid #383838;*/
}


.main-menu a:focus {
    /*background: #333;*/
    text-decoration: underline;
}

.main-menu .menu-close {
    position: absolute;
    right: 0;
    top: 0;
}

/*
 On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
    display: block;
    /*left: 0;*/
    outline: none;
    -moz-box-shadow: 3px 0 12px rgba(94,38,100,2);
    -webkit-box-shadow: 3px 0 12px rgba(94,38,100,2);
    box-shadow: 3px 0 12px rgba(94,38,100,2);
    background-color: #5e2664;
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
    z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
    position: relative;
    z-index: 1000;



}

/*
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    /*background: #000;*/
    /*background: rgba(0,0,0,.85);*/
    cursor: default;
}

@supports (position: fixed) {
    .main-menu,
    .main-menu:target + .backdrop,
    .main-menu[aria-expanded="true"] + .backdrop{
        position: fixed;
    }
}

/*
 Larger screen styling
 Horizontal menu
*/
@media (min-width: 1300px) {

    .menu-toggle,
    .main-menu .menu-close {
        display: none;
    }

    /* Undo positioning of off-canvas menu */
    .main-menu {
        position: relative;
        left: auto;
        top: auto;
        height: auto;
        display: block;
    }

    .main-menu ul {
        display: flex;

        /* Undo off-canvas styling */
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        height: 100%;
        width: 100%;
        background: white;
    }

    .main-menu a {
        color: #411B46;
        border: 0 !important; /* Remove borders from off-canvas styling */
    }


    .main-menu a:focus {
        background: none; /* Remove background from off-canvas styling */
        color: #411B46;
    }
    .menu {
        height: 100%;
        text-align: center;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .buttonHover {
        background-color: white;
        /*color: black;*/
        /*border: 3px solid #411B46;*/
        /*-webkit-appearance: none;*/
    }


}
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/*DROPDOWN MENU IN UNIVERSITIES INVOLVED PAGE*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropbtn {
    background-color: #411B46;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    display: inline-block;
    position: center;
    /*margin-left: 45%;*/
    /*margin-right: 45%;*/
    /*margin-bottom: 100px;*/
}

.dropdown-content {
    display: none;
    position: center;
    margin: 0 auto;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/*
.nav-item{
    margin-left: 5%;
    margin-right:5%;
    line-height: 0.5px;
    position: center;
    border-bottom: solid 2px #5e2664;

}

.nav-link{
    color: #411B46;

}

.nav-link:hover{
    color: gray;
}

*/


@media screen and (max-width: 1000px) {

    /* Remove the borders from the menu */
    #customLink {
        border: none;
    }

    .nav-item .nav-link {
        background-color: white;
        color: black;
        /*border-style: hidden;*/
    }
    .solid{
        border-style: none;
    }
    .nav-item {
        margin-left: 5%;
        margin-right: 5%;
        line-height: unset;
        position: center;
    }
    .center {
        margin: auto;
        width: 100%;
        padding: 0px;
    }
}


