<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="INGENIC Irish Network for Gender Equality at National 3rd level Institutions for Computing ">
    <meta name="keywords" content="women, computing, third level education">
    <meta name="author" content="Daisy Muyldermans, Enya Hand, Lilith Tamm" >
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="../main.js"></script>
    <script src="../static/BurgerMenu.js"></script>
    <link type="text/css" rel="stylesheet" href="/main.css"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
<!--INCLUDING HEADER AND NAVIGATION FROM EJS HEADER-->
<% include ../partials/header.ejs %>

<!--END OF NAVIGATION BAR-->

<br/>
<div class="container">
<table class="table">
    <thead>
    <tr>
        <th scope="col">Name of Institution</th>
        <th scope="col">Level</th>
        <th scope="col">Title of Course</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Trinity College Dublin</th>
        <td><b>UnderGrad:<br>PostGrad:</b></td>
        <td>Courses</td>
        <td></td>
    </tr>
    <tr>
        <th scope="row">Dublin City University</th>
        <td><b>UnderGrad:<br>PostGrad:</b></td>
        <td>Courses</td>

    </tr>
    <tr>
        <th scope="row">University College Dublin</th>
        <td><b>UnderGrad:<br><br><br>PostGrad:</b></td>
        <td><a href="https://www.myucd.ie/courses/science/computer-science-data-science/" target="_blank">BSc in Computer Science/with Data Science (DN201)</a><br>
            <a href="https://sisweb.ucd.ie/usis/!W_HU_MENU.P_PUBLISH?p_tag=PROG&MAJR=T150" target="blank">MSc in Computer Science (Negotiated Learning)</a><br><br>
            <a href="https://www.cs.ucd.ie/PostgraduateProgrammes/HDip_%28ICT_Skills_Conversion%29/" target="blank">MSc/HDip in Computer Science (Conversion)</a><br>
            <a href="https://www.cs.ucd.ie/PostgraduateProgrammes/MSc_DIFC/" target="blank">MSc in Digital Investigation Forensic Computing (DIFC)</a><br>
            <a href="http://www.ucd.ie/cci/education/prospective_students/fcci_programmes/msc_fcci.html" target="blank">MSc in Forensic Computing and Cybercrime Investigation (FCCI)</a>
        </td>
    </tr>
    <tr>
        <th scope="row">Technological Dublin University</th>
        <td><b>UnderGrad:<br><br><br><br><br><br><br>PostGrad:</b></td>
        <td><a href="https://www.dit.ie/studyatdit/undergraduate/programmescourses/allcourses/computerscienceinfrastructuredt211.html" target="blank">BSc (Hons) Computer Science (Infrastructure) DT211C</a><br>
            <a href="https://www.dit.ie/studyatdit/undergraduate/programmescourses/allcourses/computersciencedt228.html" target="blank">BSc (Hons) Computer Science DT228</a><br>
            <a href="https://www.dit.ie/catalogue/Programmes/Details/DT249" target="blank">BSc (Hons) Information Systems and Information Technology DT249 PT</a><br>
            <a href="https://www.dit.ie/studyatdit/undergraduate/programmescourses/allcourses/computerscienceinternationaldt282.html" target="blank">BSc Hons Comp Science (international) DT282 - (includes a language)</a><br>
            <a href="https://www.dit.ie/studyatdit/undergraduate/programmescourses/allcourses/businesscomputingdt354.html" target="blank">Business Computing</a><br><br>
            <a href="http://www.dit.ie/studyatdit/postgraduate/taughtprogrammes/allcourses/computingdataanalyticsmscdt228aftdt228bpt.html" target="blank">MSc Computing DT228A Full time</a>
        </td>
    </tr>
    <tr>
        <th scope="row">IT Sligo</th>
        <td><b>UnderGrad:<br><br><br><br><br><br><br><br><br>PostGrad:</b></td>
        <td><a href="https://www.itsligo.ie/courses/bsc-in-computing-in-software-development/" target="blank">Software Development</a><br>
            <a href="https://www.itsligo.ie/courses/bsc-in-computing-in-games-development/" target="blank">Games Development</a><br>
            <a href="https://itsligo.ie/ccp/computing/prg/sg538" target="blank">Web Development and Creative Media</a><br>
            <a href="https://www.itsligo.ie/courses/bsc-hons-computing-smart-technologies/" target="blank">Smart Technologies</a><br>
            <a href="https://www.itsligo.ie/courses/beng-electronic-computer-engineering/" target="blank">Electronic and Computer Engineering</a><br>
            <a href="https://www.itsligo.ie/about-it-sligo/administration/itservices/software/virtualcomputing/" target="blank">Virtual Computing</a><br>
            <a href="https://www.itsligo.ie/courses/bsc-hons-computer-networks-cloud-infrastructure-online/" target="blank">Computer Networks and Cloud Infrastructure</a><br>
            <a href="https://www.itsligo.ie/courses/ba-hons-appdesign-ux/" target="blank">App Design and User Experience</a><br><br>
            <a href="https://www.itsligo.ie/study-at-it-sligo/postgraduate/" target="blank">Computing</a></td>
    </tr>
    <tr>
        <th scope="row">University College Cork</th>
        <td><b>UnderGrad:<br>PostGrad:</b></td>
        <td>Courses</td>
    </tr>
    <tr>
        <th scope="row">Maynooth University Dublin</th>
        <td><b>UnderGrad:<br><br><br><br><br>PostGrad:</b></td>
        <td><a href="https://www.maynoothuniversity.ie/mathematics-and-statistics/our-courses/bachelor-science" target="blank">Bachelor of Science degree</a><br>
            <a href="https://www.maynoothuniversity.ie/study-maynooth/undergraduate-studies/courses/bsc-computational-thinking" target="blank">BSc Computational Thinking</a><br>
            <a href="https://www.maynoothuniversity.ie/study-maynooth/undergraduate-studies/courses/bsc-multimedia-mobile-web-development-mws" target="blank">BSc Multimedia, Mobile & Web Development</a><br>
            <a href="https://www.maynoothuniversity.ie/study-maynooth/postgraduate-studies/courses/higher-diploma-information-technology" target="blank">Higher Diploma in Information Technology</a><br>
            <a href="https://www.maynoothuniversity.ie/study-maynooth/postgraduate-studies/courses/higher-diploma-science-computer-science" target="blank">Higher Diploma in Science (COMPUTER SCIENCE)</a><br>
            <a href="https://www.maynoothuniversity.ie/study-maynooth/postgraduate-studies/courses/higher-diploma-sciencesoftware-development-ft" target="blan">Higher Diploma in Science (SOFTWARE DEVELOPMENT)</a><br>
            <a href="https://www.maynoothuniversity.ie/study-maynooth/postgraduate-studies/courses/msc-computer-science-software-engineering-one-year-programme" target="blan">MSc Computer Science (SOFTWARE ENGINEERING)</a><br>
            <a href="https://www.maynoothuniversity.ie/study-maynooth/postgraduate-studies/courses/msc-computer-science-applied" target="blank">MSc Computer Science (APPLIED)</a>
        </td>
    </tr>
    <tr>
        <th scope="row">NUI Galway</th>
        <td><b>UnderGrad:<br><br><br><br><br>PostGrad:</b></td>
        <td><a href="http://www.nuigalway.ie/courses/undergraduate-courses/computer-science-and-information-technology.html" target="blank">BSc in Computer Science and Information Technology</a><br>
            <a href="http://www.nuigalway.ie/courses/adult-and-continuing-education-courses/softwareengineering.html/" target="blank">Diploma in Software Engineering</a><br>
            <a href="http://www.nuigalway.ie/courses/taught-postgraduate-courses/softwaredesignanddevelopmenthdipappscindustrystream/" target="blank">Higher Diploma Applied Science (Software Design and Development)</a><br>
            <a href="http://www.nuigalway.ie/courses/taught-postgraduate-courses/msc-in-computer-science-data-analytics.html" target="blank">MSc Computer Science (Data Analytics)</a><br>
            <a href="http://www.nuigalway.ie/courses/taught-postgraduate-courses/software-design-development.html" target="blank">M.Sc. Software Design & Development</a><br>
            <a href="http://www.nuigalway.ie/courses/adult-and-continuing-education-courses/software-engineering-and-database-technologies.htm" target="blank">Diploma in Software Engineering</a><br></td>
    </tr>
    <tr>
        <th scope="row">Institute of Art, Design & Technology</th>
        <td><b>UnderGrad:</b></td>
        <td><a href="http://www.iadt.ie/courses/creative-computing" target="blank">Creative Computing</a><br>
        </td>
    </tr>
    <tr>
        <th scope="row">IT Carlow</th>
        <td>UnderGrad:<br>PostGrad:</td>
        <td>Courses</td>
    </tr>
    <tr>
        <th scope="row">IT Tralee</th>
        <td>UnderGrad:<br>PostGrad:</td>
        <td>Courses</td>
    </tr>
    <tr>
        <th scope="row">Letterkenny Institute of Technology</th>
        <td>UnderGrad:<br>PostGrad:</td>
        <td>Courses</td>
    </tr>
    <tr>
        <th scope="row">Institute of Technology Tallaght</th>
        <td>UnderGrad:<br>PostGrad:</td>
        <td>Courses</td>
    </tr>
    <tr>
        <th scope="row">Dundalk Institute of Technology</th>
        <td>UnderGrad:<br>PostGrad:</td>
        <td>Courses</td>
    </tr>
    <tr>
        <th scope="row">Institute of Technology Blanchardstown</th>
        <td>UnderGrad:<br>PostGrad:</td>
        <td>Courses</td>
    </tr>
    <tr>
        <th scope="row">Galway-Mayo Institute of Technology</th>
        <td>UnderGrad:<br>PostGrad:</td>
        <td>Courses</td>
    </tr>
    <tr>
        <th scope="row">IT Carlow</th>
        <td>UnderGrad:<br>PostGrad:</td>
        <td>Courses</td>
    </tr>
    </tbody>
    </div>
</table>
</div>


<!--INCLUDE FOOTER FROM EJS FOOTER-->
<% include ../partials/footer.ejs %>

</body>
</html>