<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="INGENIC Irish Network for Gender Equality at National 3rd level Institutions for Computing ">
    <meta name="keywords" content="women, computing, third level education">
    <meta name="author" content="Daisy Muyldermans, Enya Hand, Lilith Tamm" >
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="../main.js"></script>
    <script src="../static/BurgerMenu.js"></script>
    <link type="text/css" rel="stylesheet" href="/main.css"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
<!--INCLUDING HEADER AND NAVIGATION FROM EJS HEADER-->
<% include ../partials/header.ejs %>

<!--END OF NAVIGATION BAR-->
<br />
<h1 class="menu">Universities Involved</h1>
<br />

<div class="container">
    <div class="row mt-3">
        <div class="col-sm">
            <div class="card text-center" style="width: 15rem; height:22rem;">
                <a href="https://www.tcd.ie/"><img src="/images/tcdlogo.jpg" class="card-img-top" alt="Trinity College Dublin"></a>
                <div class="card-body">
                    <a href="https://www.tcd.ie/"><h5 class="card-title">Trinity College Dublin</h5></a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center" style="width: 15rem; height:22rem;">
                <a href="https://www.dcu.ie/"><img src="/images/DCULogo.jpg" class="card-img-top" alt="Dublin City University"></a>
                <div class="card-body">
                    <a href="https://www.dcu.ie/"><h5 class="card-title">Dublin City University</h5></a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center" style="width: 15rem; height:22rem;">
                <a href="https://www.ucd.ie/"><img src="/images/UCDLogo.png" class="card-img-top" alt="University College Dublin"></a>
                <div class="card-body">
                    <a href="https://www.ucd.ie/"><h5 class="card-title">University College Dublin</h5></a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center" style="width: 15rem; height:22rem;">
                <a href="http://www.dit.ie/"><img src="/images/TUDublin.png" class="card-img-top" alt="Technological University Dublin"></a>
                <div class="card-body">
                    <a href="http://www.dit.ie/"><h5 class="card-title">Technological University Dublin</h5></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm">
            <div class="card text-center" style="width: 15rem; height:22rem;">
                <a href="https://www.itsligo.ie/"><img src="/images/ITSligoLogo.jpg" class="card-img-top" alt="IT Sligo"></a>
                <div class="card-body">
                    <a href="https://www.itsligo.ie/"><h5 class="card-title">IT Sligo</h5></a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center" style="width: 15rem; height:22rem;">
                <a href="https://www.ucc.ie/"><img src="/images/ucc.jpg" class="card-img-top" alt="University College Cork"></a>
                <div class="card-body">
                    <a href="https://www.ucc.ie/"><h5 class="card-title">University College Cork</h5></a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center" style="width: 15rem; height:22rem;">
                <a href="https://www.maynoothuniversity.ie/"><img src="/images/MULogo.png" class="card-img-top" alt="Maynooth University Dublin"></a>
                <div class="card-body">
                    <a href="https://www.maynoothuniversity.ie/"><h5 class="card-title">Maynooth University Dublin</h5></a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center" style="width: 15rem; height:22rem;">
                <a href="http://www.nuigalway.ie/"><img src="/images/NUILogo.jpg" class="card-img-top" alt="NUI Galway"></a>
                <div class="card-body">
                    <a href="http://www.nuigalway.ie/"><h5 class="card-title">NUI Galway</h5></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm">
            <div class="card text-center" style="width: 15rem; height:22rem;">
                <a href="http://www.iadt.ie/"><img src="/images/IADTLogo.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <a href="http://www.iadt.ie/"><h5 class="card-title">Institute of Art, Design & Technology</h5></a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center" style="width: 15rem; height:22rem;">
                <a href="https://www.itcarlow.ie/"><img src="/images/ITCarlowLogo.jpg" class="card-img-top" alt="IT Carlow"></a>
                <div class="card-body">
                    <a href="https://www.itcarlow.ie/"><h5 class="card-title">IT Carlow</h5></a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center" style="width: 15rem; height:22rem;">
                <a href="http://www.ittralee.ie"><img src="/images/ITTralee.jpg" class="card-img-top" alt="IT Tralee"></a>
                <div class="card-body">
                    <a href="http://www.ittralee.ie"><h5 class="card-title">IT Tralee</h5></a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center" style="width: 15rem; height:22rem;">
                <a href="https://www.lyit.ie/"><img src="/images/LYIT.jpg" class="card-img-top" alt="Letterkenny Institute of Technology"></a>
                <div class="card-body">
                    <a href="https://www.lyit.ie/"><h5 class="card-title">Letterkenny Institute of Technology</h5></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm">
            <div class="card text-center" style="width: 15rem; height:22rem;">
                <a href="https://www.it-tallaght.ie/"><img src="/images/ITT.jpg" class="card-img-top" alt="Institute of Technology Tallaght"></a>
                <div class="card-body">
                    <a href="https://www.it-tallaght.ie/"><h5 class="card-title">Institute of Technology Tallaght</h5></a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center" style="width: 15rem; height:22rem;">
                <a href="https://www.dkit.ie/"><img src="/images/DKIT.png" class="card-img-top" alt="Dundalk Institute of Technology"></a>
                <div class="card-body">
                    <a href="https://www.dkit.ie/"><h5 class="card-title">Dundalk Institute of Technology</h5></a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center" style="width: 15rem; height:22rem;">
                <a href="https://www.itb.ie/"><img src="/images/ITB.jpg" class="card-img-top" alt="Institute of Technology Blanchardstown"></a>
                <div class="card-body">
                    <a href="https://www.itb.ie/"><h5 class="card-title">Institute of Technology Blanchardstown</h5></a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center" style="width: 15rem; height:22rem;">
                <a href="https://www.gmit.ie/"><img src="/images/GMIT.jpg" class="card-img-top" alt="Galway-Mayo Institute of Technology"></a>
                <div class="card-body">
                    <a href="https://www.gmit.ie/"><h5 class="card-title">Galway-Mayo Institute of Technology</h5></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--INCLUDE THE CUSTOM GOOGLE MAPS MAP-->
<br />
<div class="container">
    <div class="row justify-content-center">
        <div class="embed-responsive" style="width:1000px; height:500px;">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/d/u/0/embed?mid=15IDVt9ltp3-vT0nVCa38fABFy3OCh2Qz" allowfullscreen></iframe>
        </div>
    </div>
</div>

<!--INCLUDE FOOTER FROM EJS FOOTER-->
<% include ../partials/footer.ejs %>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>