<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description"
          content="INGENIC Irish Network for Gender Equality at National 3rd level Institutions for Computing ">
    <meta name="keywords" content="women, computing, third level education">
    <meta name="author" content="Daisy Muyldermans, Enya Hand, Lilith Tamm">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="../main.js"></script>
    <link type="text/css" rel="stylesheet" href="/main.css"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>News</title>
</head>
<body>
<!--INCLUDING HEADER AND NAVIGATION FROM EJS HEADER-->
<% include ../partials/header.ejs %>

<!--END OF NAVIGATION BAR-->

<!--NEWS ARTICLES-->
<br/>
<h1 class="menu">News</h1>
<div class="container">
    <article>
        <header>
            <h2>3rd Workshop on Gender Equality in CS at Third Level</h2>
            <time datetime="2019-02-05">5 February 2019</time>
        </header>
        <figure>
            <img src="/images/IngenicMeeting3.jpg" class="ml-4 my-4 rounded float-right" height="200" alt=""/>
        </figure>
        <p>The Irish Network for Gender Equality in Computing (INGENIC) held its 3rd meeting in DCU on Friday 11th
            January. The meeting was chaired by Dr. Monica Ward from the School of Computing, DCU. The group is composed
            of interested academic members of national third level organisations. Their main aims are to:</p>
        <ul>
            <li>Help increase the enrolment of females on third level computing programmes.</li>
            <li>Improve on the experience of female students within computing programmes.</li>
            <li>Identify and develop supports for staff development in line with national and international
                recommendations for improving gender diversity and equality.
            </li>
            <li>Support collaborative approaches to address their aims.</li>
        </ul>
        <p>Three guest speakers gave extremely interesting talks. Sandra Healy, DCU's Head of Diversity and Inclusion,
            gave an insightful presentation on the Athena Swan process. Jennifer Ryan (IDA) informed the group about the
            IDA's work on gathering information on females in STEM initiatives across different sectors: primary school,
            secondary school, third level, working and returners. Joe English (Professional Development Service for
            Teachers - PDST) gave an overview of the roll-out of the new Leaving Cert Computer Science curriculum and
            the Continuous Professional Development (CPD) they have delivered to teachers. Overall, the meeting was very
            productive and members will continue to work on collaborative initiatives focusing on increasing gender
            equality in computing and relevant projects in the female in computing domain.</p>
        <p>The Irish Network for Gender Equality in Computing (INGENIC) was founded by Dr Susan McKeever (TU Dublin) and
            Dr Catherine Mooney (UCD) in 2017 in response to what they saw as a need to coordinate efforts to address
            Gender Equality in Computing across all third level institutions in the Republic of Ireland. Previous
            workshops have been held in DIT in June 2018 and the School of Computer Science in UCD in September
            2018.</p>
    </article>

    <!--<article>
        <header>
            <h2>News Title</h2>
            <time datetime="2019-03-07">7 March 2019</time>
        </header>
        <figure>
            <img src="/images/news2.jpg" class="ml-4 my-4 rounded float-right" height="200" alt=""/>
        </figure>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu purus eu ex lacinia dignissim
            efficitur ut justo. Phasellus orci nisl, euismod ac porttitor vitae, cursus sit amet ante. Praesent sit amet
            tempor est. Phasellus nibh quam, aliquet a luctus eleifend, blandit a tortor. Suspendisse eros purus,
            egestas dignissim justo eget, tincidunt porttitor dolor. Suspendisse lectus erat, mattis vel augue eu,
            vulputate sodales urna. Fusce ac porta sapien. Sed finibus nunc a mi vehicula mattis. Maecenas tincidunt,
            velit vitae gravida tempor, nulla arcu elementum lectus, at viverra nunc nisl mattis quam.</p>
        <p>Sed sed scelerisque lorem, id volutpat ex. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            Aenean vitae urna et massa iaculis elementum. Vivamus interdum augue at ipsum sodales bibendum. Duis luctus
            et nulla a pulvinar. Aliquam consequat posuere sapien at gravida. Praesent mollis urna neque, nec dapibus
            sapien euismod vel.</p>
    </article>-->

</div>

<!--INCLUDE FOOTER FROM EJS FOOTER-->
<% include ../partials/footer.ejs %>

</body>
</html>