<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description"
          content="INGENIC Irish Network for Gender Equality at National 3rd level Institutions for Computing ">
    <meta name="keywords" content="women, computing, third level education">
    <meta name="author" content="Daisy Muyldermans, Enya Hand, Lilith Tamm">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="../main.js"></script>
    <link type="text/css" rel="stylesheet" href="/main.css"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Resources</title>
</head>
<body>
<!--INCLUDING HEADER AND NAVIGATION FROM EJS HEADER-->
<% include ../partials/header.ejs %>

<!--END OF NAVIGATION BAR-->

<!--RESOURCES LINKS AND ANY IMAGES-->

<h1 class="menu">Resources</h1>
<br>
<div class="container">
    <div class='embed-container'><iframe src='https://www.youtube.com/embed/vPuyDbQwfHs' frameborder='0' allowfullscreen></iframe></div>
<br>
    <div class="border">
<h5 class="mt-0">Industry Initiatives</h5>
<div class="media position-relative">
    <div class="media-body">
        <a href="" class="http://www.cwit.ie/">Connecting Women in Technology</a>
    </div>
</div>
        <br>
    </div>

<br/>
    <div class="border">
<h5 class="mt-0">Initiatives for Third Level Students</h5>
<div class="media position-relative">
    <div class="media-body">
        <a href="https://community.anitab.org/groups/dublin/" class="stretched-link">Anita B.</a>
    </div>
</div>

    <br>

<div class="media position-relative">
    <div class="media-body">
        <a href="https://women.acm.org/" class="stretched-link">Association for Computing Machinery</a>
    </div>
</div>

    <br>
<div class="media position-relative">
    <div class="media-body">
        <a href="https://www.facebook.com/engenderit/" class="stretched-link">Engenderit</a>
    </div>
</div>
    </div>
    <br>


<div class="border">
<h5>Initiatives for Secondary Level Students</h5>
<div class="media position-relative">
    <div class="media-body">
        <a href="http://www.iwish.ie/" class="stretched-link">I wish</a>
    </div>
</div>

    <br>
<div class="media position-relative">
    <div class="media-body">
        <a href="https://www.computing.dcu.ie/event/computety" class="stretched-link">Compute TY</a>
    </div>
</div>

    <br>

<div class="media position-relative">
    <div class="media-body">
        <a href="https://www.csforall.org/" class="stretched-link">CS for All</a>
    </div>
</div>

    <br>
<div class="media position-relative">
    <div class="media-body">
        <a href="http://bridge21.ie/codeplus/" class="stretched-link">Bridge 21</a>
    </div>
</div>

</div>
</div>
</body>

<!--INCLUDE FOOTER FROM EJS FOOTER-->
<% include ../partials/footer.ejs %>


</html>